button .btn{
	background-color: white;
}

.boxboxbox {
	border-size: 2px;
	border-color: #303030;
	border-style: solid;
}

.table{
	table-cell-padding: 3px;
	font-size: 10px;

}

.modal_radar_chart{
	padding: 20px;
}
