
/*.row {
	background-color:"white";
}
*/
body {
	width: 100%;
	text-align: center; 
}

img {
	margin: auto;
	text-align: center;
	padding-bottom: 30px;
}



/*
#alternatives ul{
	border-style:solid;
	border-width:2px;
	border-color:black;
}
#alternatives2 ul{
	border-style:solid;
	border-width:2px;
	border-color:black;
}*/
