body {
  padding-top: 50px;
  background-color:black;
  color:#a0a0a0;
  width: 70vw;
  margin: auto;
}

.gameinformation{
	width: 90%;
	margin:auto;
	font-size: 20px;
/*	border-style:solid;
	border-color: #303030;
	border: 0px 15px 0px 15px;
*/
}


.infobox{
	border-color: #303030;
	padding-top: 100px;
}


h1{
	font-size: 70px;
} 

.starter-template {
  padding: 40px 15px;
  text-align: center;
}

img .hue_smallpic{
}

video#backgroundvideo{
	position: relative;
	/*top: 50%;
	left: 50%;*/
	/*min-width: 100%;*/
	/*min-height: 100%;*/
	width: 100%;
/*	height: 100%; */
	/*height: auto;*/
	z-index: -1;
	/*transform: translateX(-50%) translateY(-50%);*/
	/*background: url('//demosthenes.info/assets/images/polina.jpg') no-repeat;*/
}

.video_image_logo{
	position: absolute;
	width: 70%;
	padding-left:20%;
	padding-top:20%;
}

.dev_team_member{
	text-align:center;
}

.dev_team_members_row{
	padding: 100px 0px 100px 0px;
}

.blurred_edges{
	-moz-box-shadow:0px 0px 17px #000000;
	-webkit-box-shadow:0px 0px 17px #000000;
	box-shadow:0px 0px 17px #000000;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px; 
	/*width:70%;
	margin:auto;*/
}


.person{

}


/*
.image-ingemar {
    background-image: url('images/facebook_profile.jpg');
    background-size:10vw 10vw;
    width:  10vw;
    height: 10vw;
    box-shadow: 0 0 12px 12px black inset;
}
.image-adrian {
    background-image: url('images/adrian.png');
    background-size:10vw 10vw;
    height: 10vw;
    width:  10vw;
    box-shadow: 0 0 12px 12px black inset;
    margin:auto;
}
.image-alan {
    background-image: url('images/alan.jpg');
    background-size:10vw 10vw;
    width: 10vw;
    height: 10vw;
    box-shadow: 0 0 12px 12px black inset;
    margin:auto;
}
.image-paulina {
    background-image: url('images/pau.jpg');
    background-size:10vw 10vw;
    width: 10vw;
    height: 10vw;
    box-shadow: 0 0 12px 12px black inset;
    margin:auto;
}
.image-emelie {
    background-image: url('images/emelie.png');
    background-size:10vw 10vw;
    width: 10vw;
    height: 10vw;
    box-shadow: 0 0 12px 12px black inset;
    margin:auto;
}
.image-rasmus {
    background-image: url('images/rasmuf.png');
    background-size:10vw 10vw;
    width: 10vw;
    height: 10vw;
    box-shadow: 0 0 12px 12px black inset;
    margin:auto;
}
.image-henrik {
    background-image: url('images/karl.jpg');
    background-size:10vw 10vw;
    width: 10vw;
    height: 10vw;
    box-shadow: 0 0 12px 12px black inset;
    margin:auto;
}
*/
