body {
  padding-top: 48px;
  background-color:black;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;

  color: #a0a0a0;
  width: 80vw;
  margin: auto;
  border-color:#404040;
  border-style:solid;
  border-left-width: 6px;
  border-right-width: 6px;
}

a{
  color: #a0a0c0;
}

.list-group{
	padding-top:40px;
}
.list-group-item{
	background-color:black;
}

.mainContainer {
	background-color: black;
}

.gameinformation{
	width: 90%;
	margin:auto;
	font-size: 18px;
}

#logoLogo{
	max-width: 300px;
}

.infobox_header{
	padding-bottom:20px;
	padding-top: 50px;
	background-color: black;
}

.infobox{
	padding-bottom: 40px;
	border-color: #303030;
	padding-top: 20px;
	background-color:black;
}


.hline {
	padding-bottom: 20px;
	width: 60%;
	height: 3px;
	background: #101010;
}


h1{
	font-size: 40px;
}

h2{
	font-size: 30px;
}


.starter-template {
  padding: 40px 1px;
  text-align: center;
}

img .hue_smallpic{
}

video#backgroundvideo{
	position: relative;
	width: 100%;
	z-index: 1;
	border-color: #404040;
	border-right-width:6px;
}

.video_image_logo{
	position: absolute;
	width: 70%;
	padding-left: 20%;
	padding-top: 23%;
	z-index: 2;
}

.dev_team{
}

.person{
  max-width: 15vw;
  margin:auto;
}


.dev_team_member{
	text-align: center;
/*  width: 15vw; */
}

.dev_team_member img{
  width: 250px;
}

.dev_team_member p {
  font-size: 16px;
}
.dev_team_member hr{
  width: 20%;
  height: 1px;
  bacground:#a0a0a0;
}


.img_filter{
	-webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
	filter: grayscale(100%);
  margin:auto;
  padding-bottom: 20px;
}

.blurred_edges{
	-moz-box-shadow:0px 0px 17px #000000;
	-webkit-box-shadow:0px 0px 17px #000000;
	box-shadow:0px 0px 17px #000000;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
}

.publisher{
	font-size: 30px;
}

.gallery_image_row{
  padding-bottom: 30px;
}
.gallery_image{
  width: 80%;
  margin: auto;
}

.subtext {
	font-size:14px;
}
